{% extends 'base.html.twig' %}

{% block nav %}{% endblock %}

{% block antiBootstrap %}{% endblock %}

{% block style %}<link rel="stylesheet" href="assets/edit_profil.css">{% endblock %}

{% block title %}Mon profil{% endblock %}

{% block body %}

    <div class="bandeauForm">
        <div class="decoForm">
            <img class="narutoInscription" src="assets/img/Profil/narutoModif.png">
        </div>
        <div class="maForm">
            <div class="titreForm">
                <h1>Mettre à jour mes informations</h1>
                <hr class="hrTop">
            </div>
            <div class="lesInputs">
                {{ form_start(editForm) }}
                    {{ form_row(editForm.pseudo) }}
                    {{ form_row(editForm.image) }}
                    {{ form_row(editForm.biographie) }}
            </div>
            <div class="lesRedirections">
                <hr class="hrBottom">
                <div class="redirectBottom">
                    <button class="btnIModifierProfil" type="submit">Valider</button>
                </div>
                {{ form_end(editForm) }}
            </div>
        </div>
        <div class="decoForm">
            <img class="luffyInscription" src="assets/img/Profil/luffyModif.png">
        </div>
    </div>

{% endblock %}
