{% extends 'base.html.twig' %}
{% block nav %}{% endblock %}
{% block antiBootstrap %}{% endblock %}
{% block style %}<link rel="stylesheet" href="assets/inscription.css">{% endblock %}
{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="bandeauForm">
        <div class="decoForm">
            <img class="narutoInscription" src="assets/img/Inscription/narutoInscription.png">
        </div>
        <div class="maForm">
            <div class="titreForm">
                <h1>Inscrivez-vous !</h1>
                <hr class="hrTop">
            </div>
            <div class="lesInputs">
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.pseudo) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    {{ form_row(registrationForm.RGPDConsent) }}
            </div>
            <div class="lesRedirections">
                <hr class="hrBottom">
                <div class="redirectBottom">
                    <button class="btnInscription" type="submit">Je m'inscris !</button>
                    <a href="{{ path('app_login') }}">J'ai déjà un compte</a>
                </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
        <div class="decoForm">
            <img class="luffyInscription" src="assets/img/Inscription/luffyInscription.png">
        </div>
    </div>
{% endblock %}
